<li class="aktivitet">
    <div class="type">{{this.type}}</div>
    <h2>{{this.tittel}}</h2>
    <div class="detaljer">
        {{#each this.detaljer}}
            {{#eq this.stil "LENKE"}}
                <div class="HEL_LINJE detalj">
                    <div class="detaljtittel">{{this.tittel}}</div>
                    <div class="LENKE">{{this.tekst}}</div>
                </div>
            {{/eq}}

            {{#not_eq this.stil "LENKE"}}
                <div class="{{this.stil}} detalj">
                    <div class="detaljtittel">{{this.tittel}}</div>
                    <div>{{{this.tekst}}}</div>
                </div>
            {{/not_eq}}
        {{/each}}
    </div>
    {{#if this.meldinger}}
        <div class="meldinger">
            <h3>Dialog</h3>
        {{> dab/meldingerPartial this}}
        </div>
    {{/if}}
</li>
