<h3>Dialogen med veileder</h3>
{{#each dialogtråder}}
    <div class="dialogtråd">
        <h4>{{this.overskrift}}</h4>
        {{#each this.meldinger}}
            <div class="melding melding-{{this.avsender}}">
                <div class="melding-avsender">{{#eq this.avsender "BRUKER"}}{{@../../navn}}{{/eq}}{{#eq this.avsender "VEILEDER"}}NAV{{/eq}} - {{this.sendt}}</div>
                <div>{{ breaklines this.tekst}}</div>
            </div>
        {{/each}}
    </div>
{{/each}}
