{{#each this.meldinger}}
    <div class="melding melding-{{this.avsender}}">
        <div class="melding-avsender">{{#eq this.avsender "BRUKER"}}{{@../../navn}}{{/eq}}{{#eq this.avsender "VEILEDER"}}NAV{{/eq}} - {{this.sendt}}</div>
        <div>{{ breaklines this.tekst}}</div>
    </div>
    {{#eq ../indexSisteMeldingLestAvBruker @index}}
        <div class="sistLest">
            <div class="sistLestIkon">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"><path d="M12.53 4.47a.75.75 0 0 0-1.06 0l-4.5 4.5a.75.75 0 0 0 1.06 1.06l3.22-3.22V19a.75.75 0 0 0 1.5 0V6.81l3.22 3.22a.75.75 0 1 0 1.06-1.06l-4.5-4.5Z" fill="currentColor"></path></svg>
            </div>
            <div class="sistLestTekst">Lest av bruker {{../tidspunktSistLestAvBruker}}</div>
        </div>
    {{/eq}}
{{/each}}
